@import '../../../../styles/mixins';

.login-modal-switch {
    padding-bottom: 1rem;

    &__button {
        @include no-outline-or-border();
        background-color: inherit;
        font-size: 12px;
        color: darkred;
    }
}