// Colors ------------------------------/
$body-color: #eee;
$modal-color: #eee;
$modal-overlay-color: #222222ee;
$loading-overlay-color: #eeeeee88;
$loading-segment-color: #202047;

$clear-color: #00000000;

// Breakpoints --------------------------/
$screen-size-sm-min: 320px;
$screen-size-sm-max: 480px;
$screen-size-md-min: $screen-size-sm-max + 1;
$screen-size-md-max: 768px;
$screen-size-lg-min: $screen-size-md-max + 1;
$screen-size-lg-max: 1024px;
$screen-size-xl-min: $screen-size-lg-max + 1;