@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.search-bar {
    background-color: $body-color;
    border-radius: 10px;
    border: 1px solid gray;
    padding-left: 0.2rem;
    display: flex;
    justify-content: stretch;
    box-sizing: border-box;

    &__input {
        @include no-outline-or-border(true);
        padding: 0.3rem 0.2rem;
        flex-grow: 1;
        background-color: $clear-color;
    }

    &__clear-button {
        @include no-outline-or-border();
        background-color: $clear-color;
        color: gray;
    }

    &__search-button {
        @include no-outline-or-border();
        @include right-side-border-radius(5px);
        background-color: $clear-color;
        color: gray;
    }
}
