@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.note-form {
    &__title {
        @include no-outline-or-border();
        font-size: 1.5rem;
        width: 100%;
        padding: 0.3rem 0.4rem;
        margin-bottom: 0.5rem;
        background-color: $clear-color;
        color: inherit;
    }

    &__content {
        @include no-outline-or-border();
        width: 100%;
        min-height: 5rem;
        padding: 0.3rem 0.4rem;
        resize: none;
        background-color: $clear-color;
        color: inherit;
    }
}