@import '../../../styles/mixins';

.tag-modal {
    width: 40rem;
    position: absolute;
    top: 10rem;

    &__row {
        width: 100%;
        margin-top: 1rem;
    }

    &__close-button {
        @include no-outline-or-border(true);
        background-color: $clear-color;
        float: right;
    }
}