@import '../_variables';
@import '../mixins';

// Basic Classes -------------------------------/
.text-center {
    text-align: center;
}

.dark-shadow {
    @include dark-shadow(10px);
}

// Helper Variables ----------------------------/
$dark-color-list: "blue", "black", "purple";

$light-color-list: "white", "green", "yellow", "orange", "red";

$color-list: join($dark-color-list, $light-color-list);

// Color Classes ----------------------------/
// Helper Function:
@function is-dark-color($color) {
    @return index($dark-color-list, $color);
}

@each $color in $color-list {
    $is-dark: is-dark-color($color);
    $foreground-color: if($is-dark, white, black);

    .#{$color} {
        background-color: unquote($color) !important; // Currently utility class that should override all others. May refactor later.
        color: $foreground-color !important;
        &::placeholder {
            color: if($is-dark, darken(white, 20%), lighten(black, 20%)) !important;
        }
    }
}