@import '../../../styles/mixins';
@import '../../../styles/variables';

.note-modal {
    width: 40rem;
    position: absolute;
    top: 10rem;

    &__button-row {
        display: flex;
        justify-content: space-between;

        & > button {
            @include no-outline-or-border(true);
            background-color: $clear-color;
            color: inherit;
        }
    }

    &__color-picker {
        position: absolute;
    }
}